<div class="d-flex align-items-center" id="like-button-<%= album.id %>">
  <%= button_to api_album_rate_path(album), 
      method: :post,
      class: "btn btn-sm btn-outline-danger",
      form: { 
        data: { turbo: true },
        class: "d-inline-block"
      },
      params: {
        random_selection: random_selection,
        genre_id: genre_id,
        recommended_ids: recommended_ids
      },
      remote: true do %>
    <i class="bi bi-hand-thumbs-up-fill"></i>
    <span class="ms-1"><%= album.likes_count %></span>
  <% end %>
</div> 