<div class="alert alert-warning d-flex align-items-center" role="alert">
  <i class="bi bi-alarm me-2" style="font-size: 1.5rem;"></i>
  <div>
    <% due_snooze_reminders.each do |series| %>
      <div class="mb-2">
        Reminder: Check if there's a new season for <strong><%= series.name %></strong>.
        <%= button_to snooze_series_path(series), method: :patch, class: "btn btn-sm btn-info ms-2", form: { data: { turbo: false } } do %>
          <i class="bi bi-alarm"></i> Resnooze
        <% end %>
        <%= link_to 'Go to series', series_path(series), class: 'btn btn-sm btn-outline-dark ms-2' %>
      </div>
    <% end %>
  </div>
</div> 