<div class="card">
  <div class="card-body">
    <!-- Main card content (image, title, etc) -->
    
    <!-- Card info section that will be toggled -->
    <div class="card-info" data-display-target="info">
      <!-- Your additional card information here -->
    </div>
  </div>
</div> 