<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>All Albums</h1>
  </div>

  <% if @albums.any? %>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
      <%= render @albums %>
    </div>

    <div class="text-center mt-4">
      <%= @albums.size %> albums shown of <%= Album.count %> total
    </div>
  <% end %>
</div> 