<div id="search_results">
  <% if results.present? %>
    <% results.each do |result| %>
      <div class="search-result">
        <!-- Display your search results here -->
      </div>
    <% end %>
  <% end %>
</div> 